In [ ]:
import pandas as pd

df = pd.read_csv("sample_data.csv")
df

In [ ]:
df.info()
df.isnull().sum()
df.duplicated().sum()

In [3]:
# Column Name Cleaning
df.columns = (
    df.columns
    .str.lower()
    .str.strip()
    .str.replace(" ", "_")
)
df.columns

Index(['id', 'name', 'age', 'gender', 'email', 'salary', 'join_date'], dtype='object')

In [5]:
# String Cleaning (name, gender, email)
df['name'] = df['name'].str.strip().str.title()
df['gender'] = df['gender'].str.strip().str.upper()
df['email'] = df['email'].str.strip()
df

   id     name age gender              email   salary   join_date
0   1    Alice  25      F    alice@gmail.com  50000.0  2022-01-10
1   2      Bob          M      bob@gmail.com  60000.0  2021-05-20
2   3  Charlie  30      M  charlie@gmail.com  70000.0  2020-03-15
3   4    Alice  25      F    alice@gmail.com  50000.0  2022-01-10
4   5    David  -5      M                NaN  45000.0  2023-02-01
5   6      Eva  28      F          eva@gmail  80000.0  not_a_date
6   7    Frank  40      M    frank@gmail.com      NaN  2019-11-11
7   8    Grace  35      F    grace@gmail.com  75000.0  2021-07-22
8   9   Hannah  29      F   hannah@gmail.com  65000.0  2022-11-30

In [6]:
df = df.drop_duplicates()

In [8]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['age'].fillna(df['age'].median(), inplace=True)
df['salary'] = pd.to_numeric(df['salary'], errors='coerce')
df

C:\Users\kothet\AppData\Local\Temp\ipykernel_6104\771122807.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].median(), inplace=True)

   id     name   age gender              email   salary   join_date
0   1    Alice  25.0      F    alice@gmail.com  50000.0  2022-01-10
1   2      Bob  28.5      M      bob@gmail.com  60000.0  2021-05-20
2   3  Charlie  30.0      M  charlie@gmail.com  70000.0  2020-03-15
3   4    Alice  25.0      F    alice@gmail.com  50000.0  2022-01-10
4   5    David  -5.0      M                NaN  45000.0  2023-02-01
5   6      Eva  28.0      F          eva@gmail  80000.0  not_a_date
6   7    Frank  40.0      M    frank@gmail.com  62500.0  2019-11-11
7   8    Grace  35.0      F    grace@gmail.com  75000.0  2021-07-22
8   9   Hannah  29.0      F   hannah@gmail.com  65000.0  2022-11-30